name: Update LeetCode Stats

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update README
        run: |
          curl https://leetcode-stats-api.herokuapp.com/alekhsachan > stats.json
